drop table [tirpsl]
CREATE TABLE [dbo].[tirpsl](
	[tirpslstamp] [char](30) NOT NULL,
	[tirpsstamp] [char](30) NOT NULL,
	[codigo] [numeric](2, 0) NOT NULL,
	[valor] [numeric](16, 2) NOT NULL,
	[dep00] [numeric](8, 2) NOT NULL,
	[dep01] [numeric](8, 2) NOT NULL,
	[dep02] [numeric](8, 2) NOT NULL,
	[dep03] [numeric](8, 2) NOT NULL,
	[dep04] [numeric](8, 2) NOT NULL,
	[dep05] [numeric](8, 2) NOT NULL,
	[ano] [numeric](4, 0) NOT NULL,
	[descricao] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tirpslstamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tirpsl2]    Script Date: 11/14/2016 3:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tirpsl2](
	[valMin] [numeric](16, 2) NOT NULL,
	[valMax] [numeric](16, 2) NOT NULL,
	[dep00] [numeric](16, 2) NULL,
	[dep01] [numeric](16, 2) NULL,
	[dep02] [numeric](16, 2) NULL,
	[dep03] [numeric](16, 2) NULL,
	[dep04] [numeric](16, 2) NULL,
	[percentagem] [numeric](8, 2) NOT NULL,
	[ano] [numeric](4, 0) NOT NULL,
	[tirpslstamp] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tirpslstamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tirpsl] ([tirpslstamp], [tirpsstamp], [codigo], [valor], [dep00], [dep01], [dep02], [dep03], [dep04], [dep05], [ano], [descricao]) VALUES (N'01A9F087-AB50-4991-AD6E-A352D0', N'IDATA_3KU0SXFR321.08.201248589', CAST(2 AS Numeric(2, 0)), CAST(25618.63 AS Numeric(16, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(2013 AS Numeric(4, 0)), N'Até..                         ')
INSERT [dbo].[tirpsl] ([tirpslstamp], [tirpsstamp], [codigo], [valor], [dep00], [dep01], [dep02], [dep03], [dep04], [dep05], [ano], [descricao]) VALUES (N'03068AA7-9CA5-4C37-8A26-29B18C', N'IDATA_3KU0SXFR321.08.201248589', CAST(2 AS Numeric(2, 0)), CAST(90000.00 AS Numeric(16, 2)), CAST(13.20 AS Numeric(8, 2)), CAST(13.20 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(13.10 AS Numeric(8, 2)), CAST(13.10 AS Numeric(8, 2)), CAST(13.10 AS Numeric(8, 2)), CAST(2013 AS Numeric(4, 0)), N'Até..                         ')
INSERT [dbo].[tirpsl] ([tirpslstamp], [tirpsstamp], [codigo], [valor], [dep00], [dep01], [dep02], [dep03], [dep04], [dep05], [ano], [descricao]) VALUES (N'0435F3F8-B2E9-4B36-8352-0BC3FE', N'IDATA_3KU0SXFR321.08.201248589', CAST(2 AS Numeric(2, 0)), CAST(230000.00 AS Numeric(16, 2)), CAST(20.10 AS Numeric(8, 2)), CAST(20.10 AS Numeric(8, 2)), CAST(0.00 AS Numeric(8, 2)), CAST(20.00 AS Numeric(8, 2)), CAST(20.00 AS Numeric(8, 2)), CAST(20.00 AS Numeric(8, 2)), CAST(2013 AS Numeric(4, 0)), N'Até..                         ')
GO
INSERT [dbo].[tirpsl2] ([valMin], [valMax], [dep00], [dep01], [dep02], [dep03], [dep04], [percentagem], [ano], [tirpslstamp]) VALUES (CAST(0.00 AS Numeric(16, 2)), CAST(20249.99 AS Numeric(16, 2)), NULL, NULL, NULL, NULL, NULL, CAST(0.00 AS Numeric(8, 2)), CAST(2014 AS Numeric(4, 0)), N'3786020140124_3ZE0MJGO3       ')
INSERT [dbo].[tirpsl2] ([valMin], [valMax], [dep00], [dep01], [dep02], [dep03], [dep04], [percentagem], [ano], [tirpslstamp]) VALUES (CAST(20250.00 AS Numeric(16, 2)), CAST(20749.99 AS Numeric(16, 2)), CAST(0.00 AS Numeric(16, 2)), NULL, NULL, NULL, NULL, CAST(10.00 AS Numeric(8, 2)), CAST(2014 AS Numeric(4, 0)), N'3786020140124_3ZE0MJH3N       ')
INSERT [dbo].[tirpsl2] ([valMin], [valMax], [dep00], [dep01], [dep02], [dep03], [dep04], [percentagem], [ano], [tirpslstamp]) VALUES (CAST(20750.00 AS Numeric(16, 2)), CAST(20999.99 AS Numeric(16, 2)), CAST(50.00 AS Numeric(16, 2)), CAST(0.00 AS Numeric(16, 2)), NULL, NULL, NULL, CAST(10.00 AS Numeric(8, 2)), CAST(2014 AS Numeric(4, 0)), N'3786020140124_3ZE0MJHBN       ')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tirpsl__0D7A0286]    Script Date: 11/14/2016 3:41:20 PM ******/
ALTER TABLE [dbo].[tirpsl] ADD UNIQUE NONCLUSTERED 
(
	[tirpslstamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tirpsl2__5D80D6A1]    Script Date: 11/14/2016 3:41:20 PM ******/
ALTER TABLE [dbo].[tirpsl2] ADD UNIQUE NONCLUSTERED 
(
	[tirpslstamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ('') FOR [tirpslstamp]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ('') FOR [tirpsstamp]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [codigo]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [valor]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep00]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep01]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep02]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep03]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep04]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [dep05]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ((0)) FOR [ano]
GO
ALTER TABLE [dbo].[tirpsl] ADD  DEFAULT ('') FOR [descricao]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [valMin]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [valMax]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [dep00]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [dep01]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [dep02]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [dep03]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [dep04]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [percentagem]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ((0)) FOR [ano]
GO
ALTER TABLE [dbo].[tirpsl2] ADD  DEFAULT ('') FOR [tirpslstamp]
GO
ALTER TABLE [dbo].[tirpsl]  WITH CHECK ADD FOREIGN KEY([tirpsstamp])
REFERENCES [dbo].[Tirps] ([Tirpsstamp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
